<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Tweeter - Home Page</title>
  <% include partials/_header %>
  <!-- Counter JS -->
  <script type="text/javascript" src="/scripts/composer-char-counter.js"></script>

</head>

<body>
  <!-- Page-specific (main) content here -->
  <main class="container">
    <section class="new-tweet">
      <h2>Compose Tweet</h2>
      <form>
        <textarea name="text" placeholder="What are you humming about?"></textarea>
        <div class="error">
          <p><i class="fas fa-exclamation-triangle"></i></p>
        </div>
        <input id="submit-button" type="submit" value="Tweet" />
        <span class="counter">140</span>
      </form>
    </section>
    <section class="feed">
      <article class="tweet"></article>
    </section>
  </main>
</body>

</html>