<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
</head>

<body>
  <!-- Page-specific (main) content here -->
  <main class="container">
    <section class="login">
      <div class="log-form">
        <h2>Login to Tweeter</h2>
        <%if(error){%>
        <p>Invalid login or password.</p>
        <%}%>
        <form action="/login" method="POST">
          <input type="text" title="username" name='username' placeholder="username" />
          <input type="password" title="username" name='password' placeholder="password" />
          <button type="submit">Login</button>
          <a class="forgot" href="#">Forgot Username?</a>
        </form>
      </div>

    </section>
  </main>
</body>

</html>