<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
</head>

<body>
  <div class="container main">
    <h2>Register - New Account</h2>
    <form class="form-block" action="/register" method="POST">
      <div class="form-group mb-2" style="margin-top: 1em">
        <input class="form-control" type="text" name="first" placeholder="First Name"
          style="width: 300px; margin-bottom: 1em">
        <input class="form-control" type="text" name="last" placeholder="Last Name"
          style="width: 300px; margin-bottom: 1em">
        <input class="form-control" type="text" name="username" placeholder="Username"
          style="width: 300px; margin-bottom: 1em">
        <input class="form-control" type="password" name="password" placeholder="Password"
          style="width: 300px; margin-bottom: 1em">
        <button type="submit">Sign Up</button>
      </div>
  </div>
</body>

</html>