$colors: (
  accent: #00a087,
  button-bg: #fff,
  logo-font: #e8fdff,
  hover-font: #000,
  border-color: #000
);

$mobile-width: 840px;
$button-height: 60px;
$logo-size: 80px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

#nav-bar {
  background-color: color(accent);
  color: color(logo-font);
  display: flex;
  height: 80px;
  left: 0;
  padding: 0 2rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  .logo {
    height: $logo-size;
    width: $logo-size;
    padding-right: 10px;
  }

  .header {
    font-size: 2em;
    flex-basis: 100%;
    line-height: 250%;

    @include mobile {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  .compose {
    align-self: center;
    background-color: color(button-bg);
    border: 2px solid color(border-color);
    color: color(accent);
    border-radius: 5px;
    font-size: 1.25em;
    height: $button-height;
    opacity: 0.8;
    width: 175px;

    @include mobile {
      height: $button-height / 1.5;
      font-size: 0.75rem;
    }
  }
  .compose:hover {
    color: color(hover-font);
    opacity: 1;
  }
}
