.container .new-tweet {
  background-color:#eeeeee;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 2px 5px;
  display: none;
  padding: 10px;
}

.container .new-tweet > h2 {
  font-weight: 700;
  line-height: 0;
}

.container .new-tweet hr{
  background-color:black;
  border: 0 none;
  color: black;
  height: 1px;
  margin-top: -5px;
}

.container .new-tweet form textarea{
  width: 100%;
}

.counter{
  float: right;
  margin-top: 5px;
}

.negative{
  color:#8b0000;
}

form textarea{
  padding: 5px;
}

.error{
  background-color: #ffd9df;
  color: #960017;
  display: none;
  margin-bottom: 5px;
  padding: 5px 0 5px;
}

.error p{
  margin: 0;
  padding: 0 5px 0 5px;
}

#submit-button{
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #00a087;
}