$colors: (
  accent: #00a087,
  tBorder: #000,
  compose-bg: #eee,
  error: #960017,
  error-bg: #ffd9df,
  submit-button: #fff
);

$border: 1px solid color(tBorder);
$radius: 5px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$mobile-width: 840px;
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

.container .new-tweet {
  background-color: color(compose-bg);
  border: $border;
  border-radius: $radius;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: none;
  padding: 10px;
  @include mobile {
    margin-top: 10%;
  }

  h2 {
    font-weight: 700;
    line-height: 0;
    margin: 2.5% 0;
    padding-bottom: 15px;
    border-bottom: $border;
    @include mobile {
      font-size: 1rem;
    }
  }

  form textarea {
    border-radius: $radius;
    width: 100%;
    padding: 5px;
    @include mobile {
      font-size: 0.75rem;
    }
  }
  .counter {
    float: right;
    margin-top: 5px;
    @include mobile {
      font-size: 0.75rem;
    }
  }
  .negative {
    color: color(error);
  }
  .error {
    background-color: color(error-bg);
    color: color(error);
    display: none;
    margin-bottom: 5px;
    padding: 5px 0 5px;
    p {
      margin: 0;
      padding: 0 5px 0 5px;
    }
  }
  #submit-button {
    background-color: color(submit-button);
    border: $border;
    border-radius: $radius;
  }
}
