$mobile-width: 840px;
$avatar-size: 45px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

.tweet {
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 20px;
  word-wrap: break-word;

  @include mobile {
    margin-top: 10px;
  }

  header {
    opacity: 0.8;
    align-items: center;
    background-color: #eee;
    display: flex;
    padding: 1rem;

    img {
      border-radius: 5px;
      height: $avatar-size;
      margin-right: 1rem;
      width: $avatar-size;
      @include mobile {
        font-size: 0.75rem;
        height: $avatar-size/1.5;
        width: $avatar-size/1.5;
        margin-right: 0.25rem;
      }
    }
    h2 {
      flex-basis: 90%;
      margin: 0;
      @include mobile {
        font-size: 1rem;
      }
    }
    .handle {
      margin: 0;
      @include mobile {
        font-size: 0.5rem;
      }
    }
  }
  .tweet-content {
    margin: 2rem 1rem;
    @include mobile {
      font-size: 0.75rem;
    }
  }
  footer {
    align-items: center;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    @include mobile {
      font-size: 0.75rem;
    }

    .icons {
      display: none;
      i {
        color: #61c7b8;
        padding: 0 5px;
      }
    }
  }
}

.tweet:hover {
  header {
    border-color: #000;
    opacity: 1;
  }
  .icons {
    display: block;
  }
}
