

.tweet{
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 20px;
  word-wrap: break-word;
}

.tweet header{
  opacity: 0.8;
}

.tweet:hover header{
  border-color: black;
  opacity: 1.0;
}

.tweet .icons {
  display: none;
}

.tweet:hover .icons{
  display: block;
}

.tweet header{
  align-items: center;
  background-color: #eee;
  display: flex;
  padding:1rem;
}

.tweet img{
  border-radius: 5px;
  height: 45px;
  margin-right: 1rem;
  width: 45px;
}

.tweet h2{
  flex-basis: 90%;
  margin: 0;
}

.tweet .handle{
  margin: 0;
}

.tweet .tweet-content{
  margin: 2rem 1rem;
}

.tweet footer{
  align-items: center;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

footer .icons i{
  color: #61c7b8;
  padding: 0 5px;
}